<footer class="text-black text-center text-white text-md-start" style="background-color: #5d5d5d;">
  <div class="container p-4">
    <div class="row" id = "footer">

      <div class="col-12 col-lg-6 offset-lg-3 mb-4 mb-md-0 text-center ">
        <h4 class="text-uppercase">SIGUENOS EN LAS REDES</h4>

        <p>
          Siguenos en las redes sociales para mantenerte al día con las últimas noticias, emocionantes historias de aventuras y contenido exclusivo.
        </p>
        <p>
          ¡Crea tu localidad y muestrale al turismo lo que se puede disfrutar!
        </p>
        <div class = "d-flex align-items-center justify-content-center">
          <img src="/assets/media/images/RRSS/facebook.svg" alt="">
          <img class = "mx-4" src="/assets/media/images/RRSS/instagram.svg" alt="">
          <img class = "me-4" src="/assets/media/images/RRSS/twitter.svg" alt="">
          <img src="/assets/media/images/RRSS/email.svg" alt="">
        </div>
      </div>

      
  </div>

  <div class="text-center text-white p-3">
    © 2023 Copyright:
    <a class="text-white" href="https://www.linkedin.com/in/sergio-aguado/">Sergio Aguado Díaz</a>
  </div>

</footer>