<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/media/images/icono.ico" type="image/x-icon">
    <title>Epic Sport Experience</title>
    <!-- Link CSS -->
    <link rel="stylesheet" href="/styles/generales.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/createLocality.css">
    <link rel="stylesheet" href="/styles/locality.css">
    <link rel="stylesheet" href="/styles/experience.css">
    <link rel="stylesheet" href="/styles/footer.css">

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>